<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open Sans"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Oswald";
    }
    body {
      font-family: "Open Sans";
      background-color: rgb(231, 231, 231);
    }
  </style>
  <body>
    <nav
      class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top"
      style="z-index: 3; width: 250px;"
      id="mySidebar"
    >
      <div class="w3-container w3-display-container w3-padding-16">
        <i
          onclick="w3_close()"
          class="fa fa-remove w3-hide-large w3-button w3-display-topright"
        ></i>
        <h3 class="w3-wide">
          <b>Grey Play</b>
        </h3>
        <img
          style="
            border-radius: 50%;
            width: 20%;
            height: auto;
            margin: 0 auto;
            margin-left: 27%;
          "
          src="https://scontent.ftun15-1.fna.fbcdn.net/v/t1.6435-9/79743533_101020174747426_1071870807396843520_n.png?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=bUEfhos-CDwAX_-TqTd&_nc_oc=AQkv0caMhLiHfX8QfwCqAPuKxAthVdIfl9vhAfCh3tg3YMD5tFbA7l3g7sCUvCrSAVM&_nc_ht=scontent.ftun15-1.fna&oh=2d8a6c795c3e3ddf8b9a817efe58ddc3&oe=6121E1AA"
        />
      </div>
      <div
        class="w3-padding-64 w3-large w3-text-grey"
        style="font-weight: bold;"
      >
        <a (click)="moveTo('/')" class="w3-bar-item w3-button">Home</a>
        <a (click)="moveTo('/tshirtMen')" class="w3-bar-item w3-button"
          >T-shirts Men</a
        >
        <a (click)="moveTo('/about')" class="w3-bar-item w3-button">About</a>
      </div>
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
      <a
        href="javascript:void(0)"
        class="w3-bar-item w3-button w3-padding"
        onclick="document.getElementById('newsletter').style.display='block'"
        >Newsletter</a
      >
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
    </nav>
    <div
      class="w3-container w3-white w3-padding-large"
      style="margin-left: 25%; margin-right: 20%;"
    >
      <div class="w3-center">
        <h3>TITLE HEADING</h3>
        <h5>
          Title description,
          <span class="w3-opacity">April 23, 2016</span>
        </h5>
      </div>

      <div class="w3-justify">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrBnTdBtpXC9Dk_BlYj3UpiUP8y1com3yGzw&usqp=CAU"
          alt="Men in Hats"
          style="width: 100%;"
          class="w3-padding-16"
        />
        <p><strong>Hats!</strong> The trend this summer is hats for men!</p>
        <p>
          Some text about this blog entry. Fashion fashion and mauris neque
          quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc
          id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan
          tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.
          Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum,
          porta lectus vitae, ultricies congue gravida diam non fringilla.
        </p>
        <p class="w3-left">
          <button
            class="w3-button w3-white w3-border"
            onclick="likeFunction(this)"
          >
            <b><i class="fa fa-thumbs-up"></i> Like</b>
          </button>
        </p>
        <p class="w3-right">
          <button class="w3-button w3-black" onclick="myFunction('demo2')">
            <b>Replies </b> <span class="w3-tag w3-white">2</span>
          </button>
        </p>
        <p class="w3-clear"></p>

        <!-- Example of comment field -->
        <div id="demo2" style="display: none;">
          <div class="w3-row">
            <hr />
            <div class="w3-col l2 m3">
              <img src="/w3images/girl_train.jpg" style="width: 90px;" />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                Amber
                <span class="w3-opacity w3-medium"
                  >April 26, 2015, 10:52 PM</span
                >
              </h4>
              <p>
                Love your blog page! Simply the best! Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </p>
              <br />
            </div>
          </div>
          <div class="w3-row w3-margin-bottom">
            <div class="w3-col l2 m3">
              <img src="/w3images/girl.jpg" style="width: 90px;" />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                Angie
                <span class="w3-opacity w3-medium"
                  >April 23, 2015, 9:12 PM</span
                >
              </h4>
              <p>Love hats!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blog entry -->
    <div
      class="w3-container w3-white w3-padding-large"
      style="margin-left: 25%; margin-right: 20%; margin-top: 50px;"
    >
      <div class="w3-center">
        <h3>TITLE HEADING</h3>
        <h5>
          Title description, <span class="w3-opacity">April 7, 2016</span>
        </h5>
      </div>

      <div class="w3-justify">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrBnTdBtpXC9Dk_BlYj3UpiUP8y1com3yGzw&usqp=CAU"
          alt="Runway"
          style="width: 100%;"
          class="w3-padding-16"
        />
        <p>
          <strong>Dont miss!</strong> The runway in New York City this weekend
          is gonna be legendary!
        </p>
        <p>
          Some text about this blog entry. Fashion fashion and mauris neque
          quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc
          id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan
          tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.
          Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum,
          porta lectus vitae, ultricies congue gravida diam non fringilla.
        </p>
        <p class="w3-left">
          <button
            class="w3-button w3-white w3-border"
            onclick="likeFunction(this)"
          >
            <b><i class="fa fa-thumbs-up"></i> Like</b>
          </button>
        </p>
        <p class="w3-right">
          <button class="w3-button w3-black" onclick="myFunction('demo3')">
            <b>Replies </b> <span class="w3-tag w3-white">3</span>
          </button>
        </p>
        <p class="w3-clear"></p>

        <!-- Example of comment field -->
        <div id="demo3" style="display: none;">
          <hr />
          <div class="w3-row w3-margin-bottom">
            <div class="w3-col l2 m3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrBnTdBtpXC9Dk_BlYj3UpiUP8y1com3yGzw&usqp=CAU"
                style="width: 90px;"
              />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                Jane
                <span class="w3-opacity w3-medium"
                  >April 10, 2015, 7:22 PM</span
                >
              </h4>
              <p>That was a great runway show! Thanks for everything.</p>
            </div>
          </div>
          <div class="w3-row w3-margin-bottom">
            <div class="w3-col l2 m3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrBnTdBtpXC9Dk_BlYj3UpiUP8y1com3yGzw&usqp=CAU"
                style="width: 90px;"
              />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                John
                <span class="w3-opacity w3-medium"
                  >April 8, 2015, 10:32 PM</span
                >
              </h4>
              <p>
                Keep up the GREAT work! I am cheering for you!! Lorem ipsum
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt.
              </p>
            </div>
          </div>
          <div class="w3-row w3-margin-bottom">
            <div class="w3-col l2 m3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrBnTdBtpXC9Dk_BlYj3UpiUP8y1com3yGzw&usqp=CAU"
                style="width: 90px;"
              />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                Anja
                <span class="w3-opacity w3-medium">April 7, 2015, 9:12 PM</span>
              </h4>
              <p>Cant wait for the runway to start!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
